In [174]:
import pandas as pd
import numpy as np
import seaborn as sns

In [175]:
data1 = pd.read_csv('data/QVI_purchase_behaviour.csv')
data2 = pd.read_csv('data/QVI_transaction_data.csv')

In [176]:
pdf = data1.copy()
pdt = data2.copy()

In [177]:
pdt = pdt[pdt['PROD_NAME'].str.contains('Chips', case=False)]

### Data Cleaning

In [178]:
pdf.shape

(72637, 3)

In [179]:
pdt.shape

(49770, 8)

In [180]:
pdf.columns

Index(['LYLTY_CARD_NBR', 'LIFESTAGE', 'PREMIUM_CUSTOMER'], dtype='object')

In [181]:
pdt.columns

Index(['DATE', 'STORE_NBR', 'LYLTY_CARD_NBR', 'TXN_ID', 'PROD_NBR',
       'PROD_NAME', 'PROD_QTY', 'TOT_SALES'],
      dtype='object')

In [182]:
pdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72637 entries, 0 to 72636
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   LYLTY_CARD_NBR    72637 non-null  int64
 1   LIFESTAGE         72637 non-null  object
 2   PREMIUM_CUSTOMER  72637 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.7+ MB

In [183]:
pdt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49770 entries, 2 to 264830
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DATE            49770 non-null  int64
 1   STORE_NBR       49770 non-null  int64
 2   LYLTY_CARD_NBR  49770 non-null  int64
 3   TXN_ID          49770 non-null  int64
 4   PROD_NBR        49770 non-null  int64
 5   PROD_NAME       49770 non-null  object
 6   PROD_QTY        49770 non-null  int64
 7   TOT_SALES       49770 non-null  float64
dtypes: float64(1), int64(6), object(1)
memory usage: 3.4+ MB

In [184]:
pdf.isnull().sum()

LYLTY_CARD_NBR      0
LIFESTAGE           0
PREMIUM_CUSTOMER    0
dtype: int64

In [185]:
pdt.isnull().sum()

DATE              0
STORE_NBR         0
LYLTY_CARD_NBR    0
TXN_ID            0
PROD_NBR          0
PROD_NAME         0
PROD_QTY          0
TOT_SALES         0
dtype: int64

In [186]:
pdf.duplicated().unique()

array([False])

In [187]:
pdt.duplicated().unique()

array([False])

In [188]:
pdt[pdt.duplicated()]

Empty DataFrame
Columns: [DATE, STORE_NBR, LYLTY_CARD_NBR, TXN_ID, PROD_NBR, PROD_NAME, PROD_QTY, TOT_SALES]
Index: []

In [189]:
pdt = pdt.drop_duplicates()

In [190]:
pdf.isna().sum()

LYLTY_CARD_NBR      0
LIFESTAGE           0
PREMIUM_CUSTOMER    0
dtype: int64

In [191]:
pdt.isna().sum()

DATE              0
STORE_NBR         0
LYLTY_CARD_NBR    0
TXN_ID            0
PROD_NBR          0
PROD_NAME         0
PROD_QTY          0
TOT_SALES         0
dtype: int64

In [192]:
base_date = pd.to_datetime("1900-01-01")
pdt['DATE'] = base_date + pd.to_timedelta(pdt['DATE'], unit='D')

After Initial Cleaning 
- There is no Null , duplicates or Nan values.
- All datatypes have checked for each columns.

### Exploritary Data Analysis

### Uni - variant Analysis

In [193]:
pdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72637 entries, 0 to 72636
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   LYLTY_CARD_NBR    72637 non-null  int64
 1   LIFESTAGE         72637 non-null  object
 2   PREMIUM_CUSTOMER  72637 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.7+ MB

In [194]:
pdf.LIFESTAGE.unique()

array(['YOUNG SINGLES/COUPLES', 'YOUNG FAMILIES', 'OLDER SINGLES/COUPLES',
       'MIDAGE SINGLES/COUPLES', 'NEW FAMILIES', 'OLDER FAMILIES',
       'RETIREES'], dtype=object)

In [195]:
pdf.PREMIUM_CUSTOMER.unique()

array(['Premium', 'Mainstream', 'Budget'], dtype=object)

In [196]:
pdf.nunique()

LYLTY_CARD_NBR      72637
LIFESTAGE               7
PREMIUM_CUSTOMER        3
dtype: int64

In [197]:
pdt.nunique()

DATE                364
STORE_NBR           264
LYLTY_CARD_NBR    34281
TXN_ID            49712
PROD_NBR             21
PROD_NAME            21
PROD_QTY              5
TOT_SALES            28
dtype: int64

In [198]:
# Frequency Tabulation

In [199]:

pdf['LIFESTAGE'].value_counts()

LIFESTAGE
RETIREES                  14805
OLDER SINGLES/COUPLES     14609
YOUNG SINGLES/COUPLES     14441
OLDER FAMILIES             9780
YOUNG FAMILIES             9178
MIDAGE SINGLES/COUPLES     7275
NEW FAMILIES               2549
Name: count, dtype: int64

In [200]:
pdf['PREMIUM_CUSTOMER'].value_counts()

PREMIUM_CUSTOMER
Mainstream    29245
Budget        24470
Premium       18922
Name: count, dtype: int64

In [201]:
val1 = (pdf['PREMIUM_CUSTOMER'].value_counts()[0]/pdf['LIFESTAGE'].shape[0])*100
val2 = (pdf['PREMIUM_CUSTOMER'].value_counts()[1]/pdf['LIFESTAGE'].shape[0])*100
val3 = (pdf['PREMIUM_CUSTOMER'].value_counts()[2]/pdf['LIFESTAGE'].shape[0])*100

/tmp/ipykernel_4879/1661656629.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  val1 = (pdf['PREMIUM_CUSTOMER'].value_counts()[0]/pdf['LIFESTAGE'].shape[0])*100
/tmp/ipykernel_4879/1661656629.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  val2 = (pdf['PREMIUM_CUSTOMER'].value_counts()[1]/pdf['LIFESTAGE'].shape[0])*100
/tmp/ipykernel_4879/1661656629.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  val3 = (pdf['PREMIUM_CUSTOMER'].value_counts()[2]/pdf['LIFESTAGE'].shape[0])*100

In [202]:
tb1 = pd.DataFrame({'Premium Customer':['Main stream','Budget','Premium'],
                    'Percentage':[val1,val2,val3]})
tb1

  Premium Customer  Percentage
0      Main stream   40.261850
1           Budget   33.688065
2          Premium   26.050085

In [203]:
val4 = (pdf['LIFESTAGE'].value_counts()[0]/len(pdf['PREMIUM_CUSTOMER'])*100)
val5 = (pdf['LIFESTAGE'].value_counts()[1]/len(pdf['PREMIUM_CUSTOMER'])*100)
val6 = (pdf['LIFESTAGE'].value_counts()[2]/len(pdf['PREMIUM_CUSTOMER'])*100)
val7 = (pdf['LIFESTAGE'].value_counts()[3]/len(pdf['PREMIUM_CUSTOMER'])*100)
val8 = (pdf['LIFESTAGE'].value_counts()[4]/len(pdf['PREMIUM_CUSTOMER'])*100)
val9 = (pdf['LIFESTAGE'].value_counts()[5]/len(pdf['PREMIUM_CUSTOMER'])*100)
val10 = (pdf['LIFESTAGE'].value_counts()[5]/len(pdf['PREMIUM_CUSTOMER'])*100)

/tmp/ipykernel_4879/1176782072.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  val4 = (pdf['LIFESTAGE'].value_counts()[0]/len(pdf['PREMIUM_CUSTOMER'])*100)
/tmp/ipykernel_4879/1176782072.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  val5 = (pdf['LIFESTAGE'].value_counts()[1]/len(pdf['PREMIUM_CUSTOMER'])*100)
/tmp/ipykernel_4879/1176782072.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  val6 = (pdf['LIFESTAGE'].value_counts()[2]/len(pdf['PREMIUM_CUSTOMER'])*100)
/tmp/ipykernel_4879/1176782072.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  val7 = (pdf['LIFESTAGE'].value_counts()[3]/len(pdf['PREMIUM_CUSTOMER'])*100)
/tmp/ipykernel_4879/1176782072.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  val8 = (pdf['LIFESTAGE'].value_counts()[4]/len(pdf['PREMIUM_CUSTOMER'])*100)
/tmp/ipykernel_4879/1176782072.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  val9 = (pdf['LIFESTAGE'].value_counts()[5]/len(pdf['PREMIUM_CUSTOMER'])*100)
/tmp/ipykernel_4879/1176782072.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  val10 = (pdf['LIFESTAGE'].value_counts()[5]/len(pdf['PREMIUM_CUSTOMER'])*100)

In [204]:
tb2 = pd.DataFrame({'Life Stages':['YOUNG SINGLES/COUPLES', 'YOUNG FAMILIES', 'OLDER SINGLES/COUPLES',
       'MIDAGE SINGLES/COUPLES', 'NEW FAMILIES', 'OLDER FAMILIES',
       'RETIREES'],
       'Percentage':[val4,val5,val6,val7,val8,val9,val10]})
tb2

              Life Stages  Percentage
0   YOUNG SINGLES/COUPLES   20.382174
1          YOUNG FAMILIES   20.112339
2   OLDER SINGLES/COUPLES   19.881052
3  MIDAGE SINGLES/COUPLES   13.464212
4            NEW FAMILIES   12.635434
5          OLDER FAMILIES   10.015557
6                RETIREES   10.015557

In [205]:
 pd.crosstab(pdf['LIFESTAGE'], pdf['PREMIUM_CUSTOMER'])

PREMIUM_CUSTOMER        Budget  Mainstream  Premium
LIFESTAGE
MIDAGE SINGLES/COUPLES    1504        3340     2431
NEW FAMILIES              1112         849      588
OLDER FAMILIES            4675        2831     2274
OLDER SINGLES/COUPLES     4929        4930     4750
RETIREES                  4454        6479     3872
YOUNG FAMILIES            4017        2728     2433
YOUNG SINGLES/COUPLES     3779        8088     2574

In [206]:
 pd.crosstab(pdf['PREMIUM_CUSTOMER'], pdf['LIFESTAGE'])

LIFESTAGE,MIDAGE SINGLES/COUPLES,NEW FAMILIES,OLDER FAMILIES,OLDER SINGLES/COUPLES,RETIREES,YOUNG FAMILIES,YOUNG SINGLES/COUPLES
PREMIUM_CUSTOMER,,,,,,,
Budget,1504,1112,4675,4929,4454,4017,3779
Mainstream,3340,849,2831,4930,6479,2728,8088
Premium,2431,588,2274,4750,3872,2433,2574

In [207]:

category_count = pdf['PREMIUM_CUSTOMER'].value_counts()
category_proportion = pdf['PREMIUM_CUSTOMER'].value_counts(normalize=True)
category_percentage = pdf['PREMIUM_CUSTOMER'].value_counts(normalize=True) * 100

In [208]:
tab3 = pd.DataFrame({'Premium Customer':['count','proportion','percentage'],
                     'Mainstream':[category_count[0],category_proportion[0],category_percentage[0]],
                     'Budgent':[category_count[1],category_proportion[1],category_percentage[1]],
                     'Premium':[category_count[2],category_proportion[2],category_percentage[2]]})
tab3

/tmp/ipykernel_4879/1876944597.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  'Mainstream':[category_count[0],category_proportion[0],category_percentage[0]],
/tmp/ipykernel_4879/1876944597.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  'Budgent':[category_count[1],category_proportion[1],category_percentage[1]],
/tmp/ipykernel_4879/1876944597.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  'Premium':[category_count[2],category_proportion[2],category_percentage[2]]})

  Premium Customer    Mainstream       Budgent       Premium
0            count  29245.000000  24470.000000  18922.000000
1       proportion      0.402619      0.336881      0.260501
2       percentage     40.261850     33.688065     26.050085

In [209]:
pdf.groupby(['LIFESTAGE','PREMIUM_CUSTOMER']).size().unstack(fill_value=0)

PREMIUM_CUSTOMER        Budget  Mainstream  Premium
LIFESTAGE
MIDAGE SINGLES/COUPLES    1504        3340     2431
NEW FAMILIES              1112         849      588
OLDER FAMILIES            4675        2831     2274
OLDER SINGLES/COUPLES     4929        4930     4750
RETIREES                  4454        6479     3872
YOUNG FAMILIES            4017        2728     2433
YOUNG SINGLES/COUPLES     3779        8088     2574

In [210]:
df = pd.DataFrame()
df = df.assign(a=[1,2,3],b=[5,6,7])
df.assign(c=df['a']+df['b'])

   a  b   c
0  1  5   6
1  2  6   8
2  3  7  10

In [211]:
data_dict = {}

# Iterate through each column in the DataFrame
for column in pdf.columns:
    column_info = {
        'Data Type': str(df[column].dtype),  # Get the data type as a string
        'Description': '',                   # Add a description (you can fill this in)
        'Unique Values': df[column].nunique(),  # Count of unique values
        'Missing Values': df[column].isnull().sum(),  # Count of missing values
        'Sample Values': list(df[column].sample(n=5, random_state=1))  # Sample values (adjust as needed)
    }

    # Add the column information to the data dictionary
    data_dict[column] = column_info

# Display the data dictionary
data_dict

KeyError: 'LYLTY_CARD_NBR'

In [ ]:
data_dict = pd.DataFrame()

for column in pdf.columns:
    dtype = str(pdf[column].dtype)
    c = pdf[column].notnull

    print(dtype,c)

int64 <bound method Series.notnull of 0           1000
1           1002
2           1003
3           1004
4           1005
          ...
72632    2370651
72633    2370701
72634    2370751
72635    2370961
72636    2373711
Name: LYLTY_CARD_NBR, Length: 72637, dtype: int64>
object <bound method Series.notnull of 0         YOUNG SINGLES/COUPLES
1         YOUNG SINGLES/COUPLES
2                YOUNG FAMILIES
3         OLDER SINGLES/COUPLES
4        MIDAGE SINGLES/COUPLES
                  ...
72632    MIDAGE SINGLES/COUPLES
72633            YOUNG FAMILIES
72634            YOUNG FAMILIES
72635            OLDER FAMILIES
72636     YOUNG SINGLES/COUPLES
Name: LIFESTAGE, Length: 72637, dtype: object>
object <bound method Series.notnull of 0           Premium
1        Mainstream
2            Budget
3        Mainstream
4        Mainstream
            ...
72632    Mainstream
72633    Mainstream
72634       Premium
72635        Budget
72636    Mainstream
Name: PREMIUM_CUSTOMER, Length: 72637, dtype: object>

In [212]:
pdt.columns

Index(['DATE', 'STORE_NBR', 'LYLTY_CARD_NBR', 'TXN_ID', 'PROD_NBR',
       'PROD_NAME', 'PROD_QTY', 'TOT_SALES'],
      dtype='object')

In [213]:
product_n = pdt.PROD_NBR.unique()
np.sort(product_n)

array([  1,   2,   8,  16,  21,  22,  27,  28,  29,  30,  33,  40,  44,
        47,  61,  75,  77,  78,  96, 100, 110])

In [214]:
pdt.PROD_NAME.unique()

len(pdt.PROD_NAME.unique())

21

In [215]:
pdt.PROD_NAME.unique()

array(['Smiths Crinkle Cut  Chips Chicken 170g',
       'Smiths Crinkle Chips Salt & Vinegar 330g',
       'Thins Chips Light&  Tangy 175g',
       'Thins Chips         Originl saltd 175g',
       'Thins Chips Seasonedchicken 175g',
       'Doritos Corn Chips  Original 170g',
       'Cobs Popd Swt/Chlli &Sr/Cream Chips 110g',
       'Smiths Crinkle Cut  Chips Original 170g',
       'Cobs Popd Sea Salt  Chips 110g',
       'Smiths Crinkle Cut  Chips Chs&Onion170g',
       'French Fries Potato Chips 175g',
       'Doritos Corn Chips  Cheese Supreme 170g',
       'WW Original Corn    Chips 200g',
       'Thins Potato Chips  Hot & Spicy 175g',
       'Cobs Popd Sour Crm  &Chives Chips 110g',
       'Doritos Corn Chips  Nacho Cheese 170g',
       'WW Original Stacked Chips 160g',
       'Thins Chips Salt &  Vinegar 175g',
       'Smiths Crinkle Cut  Chips Barbecue 170g',
       'WW Supreme Cheese   Corn Chips 200g',
       'WW Sour Cream &OnionStacked Chips 160g'], dtype=object)

In [216]:
pattern = r'(\d+g)'

pdt['Grams'] = pdt['PROD_NAME'].str.extract(pattern, expand=False)

In [217]:
def remove_numbers_and_g(s):
    return ''.join([c for c in s if not c.isdigit() and c != 'g'])

# Apply the function to the 'PROD_NAME' column
pdt['PROD_NAME'] = pdt['PROD_NAME'].apply(remove_numbers_and_g)

In [219]:
pdt.Grams.unique()

array(['170g', '330g', '175g', '110g', '200g', '160g'], dtype=object)

In [220]:
pdt

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,Grams
2,2019-05-22,1,1343,383,61,Smiths Crinkle Cut Chips Chicken,2,2.9,170g
6,2019-05-18,4,4149,3333,16,Smiths Crinkle Chips Salt & Vinear,1,5.7,330g
10,2019-05-19,7,7215,7176,16,Smiths Crinkle Chips Salt & Vinear,1,5.7,330g
14,2019-05-17,19,19272,16686,44,Thins Chips Liht& Tany,1,3.3,175g
33,2019-05-20,45,45220,41651,22,Thins Chips Oriinl saltd,1,3.3,175g
...,...,...,...,...,...,...,...,...,...
264809,2018-08-26,271,271051,268506,47,Doritos Corn Chips Oriinal,2,8.8,170g
264815,2018-11-06,271,271193,269365,33,Cobs Popd Swt/Chlli &Sr/Cream Chips,2,7.6,110g
264816,2019-05-31,271,271193,269366,75,Cobs Popd Sea Salt Chips,2,7.6,110g
264826,2019-03-27,272,272194,269908,75,Cobs Popd Sea Salt Chips,2,7.6,110g
264830,2018-11-14,272,272319,270087,44,Thins Chips Liht& Tany,2,6.6,175g